@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');




.margin-class {
    margin: 10px;
    margin-left: 30px !important;
}

.margin-class-0 {
    margin: 0px;
}

.margin-class-10 {
    margin: 10px;
}

tbody {
    height: 300px;
    overflow-y: auto;
}

thead > tr, tbody {
    display: block;
}

.table tr.active td {
    background-color: yellowgreen !important;
    color: white;
}

.column1 {
    float: left;
    width: 50%;
}

.column2 {
    padding-right: 20px;
    padding-bottom: 10px;
    float: left;
    width: 50%;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box
}











html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
